# Environment
.env

# Data directories
data/raw/
data/processed/
data/features/
data/output/
venv/
checkpoints/
models_cache/
checkpoints_gemma/
__pycache__
# Output directory
output/*
# Example files
/example.json
logs/*
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Claude
.claude

